@font-face {
    font-family: 'PingFang SC';
    src: url(../fonts/PingFang.ttc);
    font-weight: normal;

}

@font-face {
    font-family: 'Proxima Nova';
    src: url(../fonts/proximanova.ttc);
    font-weight: normal;
}

.label-text {
    color: #B1BAD3;
    text-align: center;
    font-family: 'PingFang SC';
    font-size: 14px;
    font-weight: 600;
}

.input-number {
    color: white;
    font-family: 'Proxima Nova';
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.025em;
}